@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
body{
    font-family: 'Poppins', sans-serif !important;
}
.navbar .logo{
    font-family: 'Caveat', cursive !important;
}
/* ===============Custom Color============= */
:root{
    --primary: #009688;
}
.text-color{
    color: #231D4F;
}
                                                    /* =============Custom CSS=============== */

/* ===================Carousel================ */
.carousel-bg-image-01,
.carousel-bg-image-02,
.carousel-bg-image-03
{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)), url(./images/c-3.jpg);
    background-size: cover;
    background-position: center;
}
.carousel-bg-image-02{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.7)), url(./images/c-2.jpg);
}
.carousel-bg-image-03{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)), url(./images/c-4.jpg);
}
.custom-btn{
    background-color: #fff;
    transition: all .3s ease-in-out;
    border: 2px solid transparent;
}
.custom-btn:hover{
    background-color: transparent;
    border: 2px solid var(--primary);
    color: #fff;
}
/* ===================Package Section=================== */
.pricing-card{
    transition: all .3s ease-in;
    cursor: pointer;
}
.card-btn{
    color: #231D4F;
    border: 2px solid var(--primary);
    background: transparent;
    transition: all .3s ease-in-out;
}
.pricing-card:hover .card-btn{
    border: 2px solid transparent;
    background: var(--primary);
    color: #fff;
}
.pricing-card:hover{
    transform: translateY(-8%);
}
.card-active{
    transform: translateY(-8%);
    background: var(--primary);
}
.card-active .card-btn{
    color: #fff;
    border: 2px solid #fff;
}
.pricing-card:hover .btn-active{
    border: 2px solid #fff;
    color: #231D4F;
    background: #fff;
}
.pricing-card small{
    top: -2%;
}
/* =======================FAQ Section================= */
.accordion-item button:focus{
    box-shadow: none;
}
.faq-img{
    max-height: 315px;
}
/* =========================================Extra Section (Team Section) CSS================================= */
.wave-animation h1{
    position: absolute;
    right: 0;
    left: 0;
    
}
.wave-animation h2{
    padding-top: 6rem;
}
.wave-animation h1:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 1px #009688;
}
.wave-animation h1:nth-child(2) {
    color: #009688;
    animation: animate 4s ease-in-out infinite;
}
@keyframes animate {
    0%, 100%{
        clip-path: polygon(0 75%, 17% 59%, 33% 50%, 52% 60%, 68% 75%, 82% 82%, 100% 81%, 100% 100%, 0 100%);
    }
    50%{
        clip-path: polygon(0 65%, 12% 74%, 27% 80%, 46% 73%, 61% 61%, 81% 60%, 100% 72%, 100% 100%, 0 100%);
    }
}
.team-img li i{
    font-size: 20px;
    background-color: #fff;
    height: 35px;
    width: 35px;
    line-height: 35px;
    border-radius: 50%;
    color: #111;
    transition: .3s ease-in-out;
}
.team-img li i:hover{
    color: #fff;
    background-color: #009688;
}

/* Hover animation */
.team-img li{
    padding: 0 3px;
    transform: translateY(36px);
    visibility: visible;
    opacity: 0;
    transition: .3s ease-in-out;
}
.team-img:hover li{
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
}
.team-img li:nth-child(1){
    transition-delay: .1s;
}
.team-img li:nth-child(2){
    transition-delay: .2s;
}
.team-img li:nth-child(3){
    transition-delay: .3s;
}
.team-img li:nth-child(4){
    transition-delay: .4s;
}
.team-img li:nth-child(5){
    transition-delay: .5s;
}

/* Hover animation end */
.social{
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
}
footer{
    background-color: #34495e;
}
/* =============================Toast==================== */
.custom-toast-parent{
    top:45%;
    min-width: 20%;
}
.custom-toast{
    height: 2.5rem;
}
.custom-toast i{
    color: var(--primary);
}
/* =================Media Query===================== */
@media only screen and (max-width: 575px){
    .card-active{
        transform: translateY(-2%)
    }
    .pricing-card:hover{
        transform: translateY(-2%);
    }
}
@media only screen and (max-width: 767px){
    .carousel-content p{
        font-size: .8rem !important;
    }
}
@media only screen and (min-width: 992px){
    .carousel{
        height: calc(100vh - 82px);
    }
}
@media only screen and (max-width: 991px){
    .carousel{
        height: 100vh;
    }
}