@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
body{
    font-family: 'Poppins', sans-serif !important;
}
.navbar .logo{
    font-family: 'Caveat', cursive !important;
}
/* ===============Custom Color============= */
:root{
    --primary: #009688;
}
.text-color{
    color: #231D4F;
}
                                                    /* =============Custom CSS=============== */

/* ===================Carousel================ */
.carousel-bg-image-01,
.carousel-bg-image-02,
.carousel-bg-image-03
{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)), url(./images/c-3.jpg);
    background-size: cover;
    background-position: center;
}
.carousel-bg-image-02{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.7)), url(./images/c-2.jpg);
}
.carousel-bg-image-03{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)), url(./images/c-4.jpg);
}
.custom-btn{
    background-color: #fff;
    transition: all .3s ease-in-out;
    border: 2px solid transparent;
}
.custom-btn:hover{
    background-color: transparent;
    border: 2px solid var(--primary);
    color: #fff;
}
/* ===================Package Section=================== */
.pricing-card{
    transition: all .3s ease-in;
    cursor: pointer;
}
.card-btn{
    color: #231D4F;
    border: 2px solid var(--primary);
    background: transparent;
    transition: all .3s ease-in-out;
}
.pricing-card:hover .card-btn{
    border: 2px solid transparent;
    background: var(--primary);
    color: #fff;
}
.pricing-card:hover{
    transform: translateY(-8%);
}
.card-active{
    transform: translateY(-8%);
    background: var(--primary);
}
.card-active .card-btn{
    color: #fff;
    border: 2px solid #fff;
}
.pricing-card:hover .btn-active{
    border: 2px solid #fff;
    color: #231D4F;
    background: #fff;
}

/* =================Media Query===================== */
@media only screen and (max-width: 767px){
    .carousel-content p{
        font-size: .8rem !important;
    }
}
@media only screen and (min-width: 992px){
    .carousel{
        height: calc(100vh - 82px);
    }
}
@media only screen and (max-width: 991px){
    .carousel{
        height: 100vh;
    }
}